img {
  max-width: 100%;
}

/* HEADER */

.navbar [alt="logo-small"] {
  width: 3rem;
}

.navbar [alt="logo-big"] {
  width: 6rem;
}

.navbar li {
  list-style: none;
}

.nav-links {
  display: flex;
  justify-content: space-between;
}
